.catalog{
    padding:100px 0;
}





.catalog_filter{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.filter_wrapper{
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 23px;
    overflow: hidden;
}

.filter_btn{
    border:0;
    background-color: #95e1d3;
    color: white;
    cursor:pointer;
    display: inline-block;
    text-align: center;
    padding: 15px;
    min-width: 150px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-right: 1px solid #e5e5e5;
    transition: background, color .2s;
}

.filter_btn:hover{
    background-color: #49bba6;
    color: black;
}

.filter_item:last-of-type .filter_btn{
    border-right: 0;
}

@media (max-width:992px){
    .filter_btn{
        font-size: 17px;
    }


}

@media(max-width:768px){
    .part_header{
        margin: 0 10px;
    }
    
    .catalog_filter{
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
    }

    .filter_wrapper{
        flex-wrap:wrap;
        width: 100%;
    }

    .filter_item{
        width: 50%;
        flex-grow: 1;
    }

    .filter_btn{
        width: 100%;
        border-top: 1px solid #e5e5e5;
    }

    .filter_item:nth-of-type(even) .filter_btn{
        border-right: 0;
    }
}