
/*              **FORMULARIO     */


.edit_establecimiento{
    width: 800px;
    margin: 50px auto 0;
    border-radius: 40px 40px 40px 40px;
    border: 2px solid #EFF0EF;
    padding: 20px;
}

.group_edit{
    margin: 40px 40px 60px 40px;
}

.group_button_edit{
    margin: 40px;
}

.group_edit label{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
    font-weight:bold;
    text-transform: uppercase;
}

.estable_nombre input, .estable_description input {
    display: block;
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 10px;
    width: 450px;
    color: white;
    font-size: 17px;
    background-color: transparent;
}

.estable_nombre input:focus, .estable_description input:focus{
    outline:none;
}

.estable_description label, .estable_nombre label{
    display:block;
    margin-bottom: 10px;
}

.group_button_edit{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.form-check{
    position: relative;
    margin: 10px 0;
}

.form-check-input{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;

}

.estable_preferences{
    margin: 60px 40px 60px 40px;
}


.estable_preferences .pref_label {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-left: 25px;
    cursor:pointer;
}

.estable_preferences .pref_label::before{
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;

}

.estable_preferences .pref_label::after{
    content: "";
    display:block;
    width: 16px;
    height: 16px;

    border: 1px solid #ccc;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, 
    rgba(238,215,137,1) 0%, rgba(232,142,131,1) 100%);
    position:absolute;
    top: 2px;
    left: 2px;
    opacity:0;
    z-index: 2;
    transition: opacity .1s linear;
}

.form-check-input:checked + .pref_label::after{
    opacity: 1;
}

.estable_workhours label{
    display:block;
    margin-bottom:10px;
}

.estable_workhours input{
    display: block;
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 10px;
    width: 450px;
    color: white;
    font-size: 17px;
    background-color: transparent;
}

.estable_workhours input:focus{
    outline:none;
}

.estable_location label{
    display:block;
    margin-bottom:10px;
}

.estable_location input{
    display: block;
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 10px;
    width: 450px;
    color: white;
    font-size: 17px;
    background-color: transparent;
}

.estable_location input:focus{
    outline:none;
}

/*              **FORMULARIO     */



/*      **  RANGO PRECIOS     **  */

.range_slider{
    max-width: 350px;
    margin: 50px 0 0;
    position: relative;
    display: flex;
}


.range_slider .slider{
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 3px;
    background: black;
    box-shadow: 3px 3px 6px #000,
    inset 1px 1px 1px rgba(232,142,131,1)
}

/*  slider cursor      */
.range_slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    z-index: 10;
    position:relative;
    cursor: pointer;
}

.range_slider .slider_thumb{
    position:absolute;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:2;
    box-shadow: inset 0px 1px 2px #909090;
}

.range_slider .slider_thumb::before{
    content: "";
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 15px;
    height: 15px;
    background: white;
    border-radius: inherit;
    transition: .3s linear;

}

.range_slider:hover .slider_thumb::before{
    background:linear-gradient(45deg, rgba(2,0,36,1) 0%, 
    rgba(238,215,137,1) 0%, rgba(232,142,131,1) 100%);
}

.slider_thumb .tooltip{
    position:absolute;
    width: 30px;
    height: 30px;
    top: -30px;
    left: 50%;
    transform: translate(-50%,-50%);
    background:linear-gradient(45deg, rgba(2,0,36,1) 0%, 
    rgba(238,215,137,1) 0%, rgba(232,142,131,1) 100%);
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    box-shadow:0px 3px 10px #1f1f1f,
    inset 0px 1px 2px #909090;
}

.slider_thumb .tooltip::before{
    content: "";
    position:absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid rgba(232,142,131,1);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);

}

.range_slider .progress {
    width: 50%;
    height: 10px;
    border-radius: 3px;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, 
    rgba(238,215,137,1) 0%, rgba(232,142,131,1) 100%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events:none;
}


/*             **RANGO PRECIOS**       */

.opinion{
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 40px;
    padding: 3%;
    color: white;
}

.opinion b{
    text-transform: uppercase;
}

.form_delete{
    width: 180px;
    margin: 0 auto 20px;
}

.btn_delete{
    display:block;
}

/*      **BOTONES GUARDAR VOLVER ELIMINAR   */
.btn_save, .btn_back, .btn_delete{
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    background-color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: none;
    transition: all .3s linear;
}

.btn_save:hover, .btn_back:hover, .btn_delete:hover{
    cursor:pointer;
    background-color: #49bba6;
    color: black;
}
/*      **BOTONES GUARDAR VOLVER ELIMINAR   */



/*           **VER VALORACION**          */
.group_edit_info{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 17px;
    font-weight: 600;

}

label.label_info{
    display:block;
    border-bottom: 1px solid white;
}
/*           **VER VALORACION**          */



/* **********************RESPONSIVE*********************  */
@media(max-width:992px){
    .edit_establecimiento{
        width:600px;
    }
}

@media(max-width:600px){

    .container_establecimiento{
        margin-top: 80px;
    }

    .edit_establecimiento{
        width:400px;
        margin: 50px auto;
    }

    .range_slider{
        width:300px;
    }

    .group_edit{
        margin: 15px 15px 30px 15px;
    }

    .group_button_edit{
        margin:0;
    }

    .group_edit label{
        font-size: 20px;
    }

    .estable_nombre input, .estable_description input,
    .estable_workhours input, .estable_location input{
        padding: 10px 15px;
        width: 300px;
    }
    
    .group_button_edit{
        display:block;
    }
    
    .group_button_edit .btn_save, .group_button_edit .btn_back{
        display:block;
        margin: 10px auto;

    }

    .group_button_edit .btn_delete{
        height: 45px;
    }

    .group_button_edit .btn_save{
        height: 45px;
    }

}


/* **********************RESPONSIVE*********************  */