.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.header_in{
    display: flex;
    height:50px;
    justify-content: end;
    align-items: center;
}

.menu{
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: color .3s linear;
}

.menu:hover{
    color: #ffff00;
}