.ranking_rest_footer{
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-top: 50px;
}

.btn_editar{
    display:block;
}

.ranking_form_delete{
    width: 150px;
    margin:auto;
}

.ranking_form_delete .btn_delete, .btn_editar{
    width: 150px;
    height: 40px;
    margin:auto;
    border: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 30px;
    color: white;
    background-color:#95e1d3;
    font-weight: bold;
    color: white;
    cursor:pointer;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    transition: all .3s linear;
}

.btn_editar:hover,  .ranking_form_delete .btn_delete:hover{
    cursor:pointer;
    background-color: #49bba6;
    color: black;
}